Package: com.icraze.bravesearch
Name: bravesearch
Version: 1.0.1
Architecture: iphoneos-arm64
Description: Replace Google with Brave Search in MobileSafari.
Maintainer: iCraze
Author: iCraze
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
